<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body { display: flex; column-gap: 20px; row-gap: 20px} .card { width:200px
      ; max-height: 450px; background-color: rgb(188, 224, 255); border-radius:
      5px; padding: 0px; text-align: center; } h3{ color: brown; }
    </style>

    <title>Document</title>

  </head>
  <body>

    {{#each users}}
      <div class="card">
        First name:
        <h3 class="login">{{this.firstName}}</h3>
        Last name:
        <h3 class="lastName">{{this.lastName}}</h3>
        Email:
        <h3 class="email">{{this.email}}</h3>
        Password:
        <h3 class="password">{{this.password}}</h3>
        Age:
        <h3 class="age">{{this.age}}</h3>
        City:
        <h3 class="city">{{this.city}}</h3>
      </div>
    {{/each}}
  </body>
</html>